{
  "arrowParens": "avoid",
  "jsxBracketSameLine": true,
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.{yml,yaml}",
      "options": {
        "singleQuote": true
      }
    }
  ]
}
